*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --pink-color: rgb(225, 179, 186);
  --gold-color: rgb(170, 145, 77);
  --display-color: seashell;
}

body {
  background-color: var(--display-color);
  display: flex;
  flex-direction: column;
  margin: 80px 0 45px 0;
  font-family: system-ui;
}

.header {
  background: var(--pink-color);
  color: var(--gold-color);
  height: 80px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

.header__text {
  color: var(--display-color);
}

.header__heading {
  margin: 0;
}

.footer {
  background: var(--pink-color);
  color: var(--gold-color);
  text-align: center;
  height: 48px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between icons */
}

.footer__icon {
  display: inline-block;
  width: 20%; /* Adjust as needed to ensure icons fit within the footer */
  max-width: 50px; /* Maximum width for icons */
  height: auto; /* Maintain aspect ratio */
}

.footer__icon img {
  width: 24px;
  height: 24px;
  border: none;
}

.footer__icon :hover {
  opacity: 0.8;
}

.card {
  margin: 30px 10%;
  border: 5px solid var(--gold-color);
  padding: 40px;
  scroll-margin-top: 100px;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__bookmark {
  background-color: var(--display-color);
  border: none;
  position: absolute;
  top: -20px;
  right: 40px;
}

.card__bookmark__size {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.card__question {
  margin: 0 0 10px 0;
  text-align: center;
}

.card__answer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card__answer button {
  background-color: var(--display-color);
  border: 1px solid var(--gold-color);
  font-size: 16px;
  padding: 10px 20px;
}
